@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin:0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

body {
  margin: 0;
  --amigo-color: #9e79f5;
  --amigo-secondary: #9d95b1; 
  --amigo-background: #e6ecf0;
  background: #f6f7f8;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(46, 46, 46);
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 14px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}


.card {
  width: 400px;
  padding: 10px;
  border-style: none;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.EditRecommendationPage,
.AddRecommendation,
.AddComment,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 2px 5px 10px rgba(145, 145, 145, 0.795);
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 18px;
}

.EditRecommendationPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #ffffff;
}

.LoginPage {
  background-color: #ffffff;
}

.EditRecommendationPage form,
.AddComment form,
.AddRecommendation form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddComment button,
.AddRecommendation button {
  display: block;
}

.CommentCard {
  background-color: #dfeef9;
  border-radius: 14px;
}

.post {
display: flex;
align-items: flex-start;
border-bottom: 1px solid var(--amigo-background);
padding-bottom: 10px;
}

.post_body > img {
  border-radius: 20px;
  width:100%;
  height: 50%;
  object-fit: cover;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_footer {
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_headerText {
  margin-top: 10px;
  align-items: center;
}

.post_badge {
  font-size: 16px !important;
  color: var(--amigo-color);
}

.post_headerSpecial {
  font-weight: 600;
  font-size: 14px;
  color: gray;
}

.post_avatar {
  padding: 20px;
}
