.sidebar {
    border-right: 1px solid var(--amigo-background);
    flex: 0.3;
    min-width: 250px; 
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar_logo {
    display:flex;
    align-items: center;
    margin-left: 2px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.sidebar_button {
    background-color: var(--amigo-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    /* get rid of mui capitalization */
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
}



.link {
    color: white;
}