.sidebar_logout {
    background-color: var(--amigo-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    /* get rid of mui capitalization */
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}